.logoSena{
    width: 40%;
    padding: 1rem;
    border-radius: 50%;
    background-color: aliceblue;
}

@media(max-height:500px){
    .logoSena{
        width: 20%;
    }

}
/* @media(max-height:900px){
    .logoSena{
      width: 10%;
  
  }} */