.references{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 8rem;
    border: 2px solid black ;
    padding: 1rem;
}
.references p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

font-weight:800 ;}

@media(max-width:1279px){
    .references{
        width: 30%;
        margin: 0.5rem;
    }
}
@media(max-width:920px){
    .references{
        width: 60%;
        height: 4rem;
    }

    
}
