.barPages{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem;
}

.barPages ul{
    display: flex;
    justify-content: space-around;

    width: 60%;
}
@media(max-width:1279px){
    .barPages ul{  
        width:100%;
    }
    .barPages{
        justify-content: space-around;
    }
}