.content{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media(max-width:768px){

        .content{
            width: 50%;
        }
}
@media(max-width:768px){
    .content{
        width: 100%;
    }
}