li  {
    list-style: none;
}

li a{
    text-decoration: none;
    color: #c1ff95;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media(max-width:1279px){
    li a{
        font-size: 1.2rem;
    }
}
/* @media(max-height:900px){
    li a{
        font-size: 1rem;



    }
    li{
        width: 40%;
    }
    

} */