*{
    margin: 0;
    padding:  0;
}

#menu{
    display: none;
}
#exit{
    display: none;
}
.Cancel{
    display: none;
}

@media(max-width:768px){
    #menu{
        display: inline;
    }
    #exit{
        display:inline;
        position:  absolute;
        left: 1rem;
        top: 1rem;
    }
    .Cancel{
        display: inline;
    }
    .arrow {
        display: inline;
        margin-right: 5px; /* Espacio entre la flecha y el texto */
        font-size: 20px; /* Tamaño de la flecha */
      }
      
}